
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Grabify IP Logger & URL Shortener allows you to tracks IP address, track locations and much more. Advanced web analytics at the tap of a finger!">
<meta name="keywords" content="grabify, ip logger, iplogger, url shortener, link shortener, ip, grabtheirip, grab ip, ip address, track ip, IP tracker, Facebook IP, Twitter IP">
<meta property="fb:admins" content="1307078942" />
<meta name="theme-color" content="#2C3E50">
<meta name="csrf-token" content="QTOUoFc95LvbjaHDS5kE07FkLqm6jY4Hg9CSIvuF">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Tracking - Grabify IP Logger &amp; URL Shortener" />
<meta property="og:title" content="Tracking - Grabify IP Logger &amp; URL Shortener" />
<meta property="og:description" content="Grabify IP Logger & URL Shortener allows you to tracks IP address, track locations and much more. Advanced web analytics at the tap of a finger!" />
<meta property="og:image" content="https://grabify.link/images/200.png" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<meta property="og:image:alt" content="Tracking - Grabify IP Logger URL Shortener - Log and Track IP addresses" />
<meta property="og:url" content="https://grabify.link/track/HPDEZJ" />
<title>Tracking - Grabify IP Logger &amp; URL Shortener</title>
<link rel="canonical" href="https://grabify.link/track/HPDEZJ">
<link rel="shortcut icon" href="https://grabify.link/images/favicon.png">
<link rel="icon" href="https://grabify.link/images/favicon.svg" type="image/svg+xml">
<link rel="icon" type="image/png" sizes="200x200" href="https://grabify.link/images/200.png">
<link rel="shortcut icon" href="https://grabify.link/images/favicon/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="https://grabify.link/images/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="https://grabify.link/images/favicon/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="https://grabify.link/images/favicon/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://grabify.link/images/favicon/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="https://grabify.link/images/favicon/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://grabify.link/images/favicon/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://grabify.link/images/favicon/favicon-16.png">
<link rel="apple-touch-icon" href="https://grabify.link/images/favicon/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://grabify.link/images/favicon/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://grabify.link/images/favicon/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://grabify.link/images/favicon/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://grabify.link/images/favicon/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://grabify.link/images/favicon/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://grabify.link/images/favicon/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://grabify.link/images/favicon/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://grabify.link/images/favicon/favicon-180.png">
<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "name": "Grabify",
		  "url": "https://grabify.link/",
		  "logo": "https://grabify.link/images/200.png"
		}
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.fuseplatform.net" crossorigin>
<link rel="preload" as="image" href="https://grabify.link/images/grabify.svg" />
<link rel="stylesheet" href="/css/styles.css?id=48896c0ea5065ab4df76c89086036973">
<script src="/js/scripts.js?id=98193a711f4ce06606554e0085a96559" fetchpriority="high" async></script>
<script src="/js/ads.js"></script>
<script async src="//cdn.fuseplatform.net/publift/tags/2/1218/fuse.js"></script>
</head>
<body class="index has-navbar-fixed-top">
<div id="wrapper">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BT991JCKD2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BT991JCKD2');
</script>
<div class="is-f-ad ad_container myTestAd" style="height:1px!important;width:1px!important;position:absolute!important;left:-999em!important;top:-999em!important">_</div>
<div id="ab" class="ab_container" style="display: none; background-color: rgba(0, 0, 0, 0.65);">
<div class="css8">
<div class="css1 css2" style="background-color: rgb(255, 255, 255);">
<div>
<div id="step1">
<img src="https://grabify.link/images/grabify.svg" alt="Grabify Logo" width="200" class="pt-5">
<h3 class="title" style="color: rgb(44, 62, 80);">It looks like you're using an adblocker!</h3>
<div class="description" style="color: rgb(44, 62, 80);">We use ads to keep our content free. Please consider supporting us by turning off your adblocker.</div>
<button class="button is-primary" onclick="continueBtn()">Show me how to whitelist →</button>
</div>
<div class="ab_footer" style="background-color: rgba(44, 62, 80, 0.2); color: rgb(44, 62, 80);">
<span class="css11">
<a class="css12" style="color: rgb(44, 62, 80);">Continue without disabling</a>
</span>
<span class="css13">|</span>
<span class="css14">Experiencing issues? <a class="css15" href="https://www.facebook.com/GrabifyLogger/" target="_blank" style="color: rgb(44, 62, 80);">Report a problem</a></span>
</div>
</div>
</div>
</div>
</div>
<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
<div class="container">
<div class="navbar-brand">
<a class="navbar-item" href="https://grabify.link">
<img src="https://grabify.link/images/grabify.svg" width="112" height="28" fetchpriority="high" alt="Grabify IP Logger">
</a>
<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarTop">
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
</a>
</div>
<div id="navbarTop" class="navbar-menu">
<div class="navbar-start">
<a class="navbar-item" href="https://grabify.link">
Home
</a>
<a class="navbar-item" href="https://grabify.link/logs">
My Links
</a>
<a class="navbar-item" href="https://grabify.link/profile">
My Profile
</a>
<a class="navbar-item" href="https://grabify.link/blog">
Blog
</a>
<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link">
Tools
</a>
<div class="navbar-dropdown">
<a class="navbar-item" href="https://grabify.link/ip-lookup">
IP Lookup
</a>
<a class="navbar-item" href="https://grabify.link/image">
Invisible Image Logger
</a>
<a class="navbar-item" href="https://grabify.link/expander">
Link Expander
</a>
<a class="navbar-item" href="https://grabify.link/speedtest">
Speed Test
</a>
<a class="navbar-item" href="https://grabify.link/mac-lookup">
MAC Address Lookup
</a>
<a class="navbar-item" href="https://temp-sms.org/?ref=Grabify_Nav" target="_blank">
Temp SMS
</a>
<a class="navbar-item" href="https://grabify.link/hide">
VPN
</a>
</div>
</div>
</div>
<div class="navbar-end">
<div class="navbar-item">
<div class="buttons">
<a class="button is-light" href="https://grabify.link/logout">
Logout
</a>
</div>
</div>
</div>
</div>
</div>
</nav>
<style>
    .grecaptcha-badge {
        visibility: hidden;
    }
</style>
<section class="landing-hero">
<div class="hero-body container has-text-centered">
<h2 class="title is-2 has-text-white">Tracking & Logs</h2>
<h3 class="subtitle is-5 has-text-white-ter">View the detailed logs for your link</h3>
</div>
<svg viewBox="0 0 100 100" preserveAspectRatio="none">
<polygon fill="white" points="0,100 100,0 100,100"></polygon>
</svg>
</section>
<section class="section container">
<div class="row">
<div class="is-centered">
<div class="columns is-justify-content-space-around">

<div data-fuse="21820773827" class="ad_container"></div>

<div data-fuse="21820773071" class="ad_container"></div>

<div data-fuse="21820906291" class="ad_container"></div>
</div>
</div>
<script src="https://grabify.link/js/qrious.min.js"></script>
<div id="tracking">
<h2 class="title is-2">Link Information</h2>
<div class="columns is-mobile ml-1">
<button class="button is-light is-small mr-2" data-toggle="modal" data-target="shareModal" @click="updateQrCode">
<span class="icon is-small">
<i class="fa fa-share-alt"></i>
</span>
<span>Share</span>
</button>
<script>
            function onSubmit(token) {
                document.getElementById("export-form").submit();
            }

            function loadRecaptcha() {
                var script = document.createElement('script');
                script.src = "https://www.google.com/recaptcha/api.js";

                if ($('script[src="https://www.google.com/recaptcha/api.js"]').length === 0) {
                    document.head.appendChild(script);
                }
            }

            loadRecaptcha();
        </script>
<form id="export-form" action="/track/export/HPDEZJ" method="post">
<div id="recaptcha" class="g-recaptcha" data-sitekey="6LeQMRwUAAAAAI9EqC05CqYE7JKXelwL4MhVwAES" data-callback="onSubmit" data-size="invisible"></div>
<input type="hidden" name="_token" value="QTOUoFc95LvbjaHDS5kE07FkLqm6jY4Hg9CSIvuF">
<button class="button is-light is-small" id="exportBtn" onclick="validateSubmit('#exportBtn', '#export-form', true)">
<span class="icon is-small">
<i class="fa-solid fa-file-export"></i>
</span>
<span>Export</span>
</button>
</form>
</div>
<small><i>(All custom links will stay active)</i></small>
<div class="table-responsive">
<table class="table table-bordered is-striped is-bordered is-fullwidth is-hoverable link-info">
<tr>
<th>
Original URL
</th>
<td id="originalUrl">
<div v-if="hide" class="text-placeholder light-shaded"></div>
<div v-else v-cloak>{{ trackingDetails.Url }}</div>
</td>
</tr>
<tr>
<th>
New URL
<button class="button is-light is-small is-pulled-right" @click="copyGrabifyToClipboard();">Copy</button>
</th>
<td>
<div v-if="hide" class="text-placeholder light-shaded"></div>
<div v-else v-cloak>
<span id="customLink">{{ appUrl }}{{ trackingDetails.LinkId }}</span>
<br class="is-hidden-tablet">
<button type="button" class="button is-info is-small is-pulled-left is-hidden-tablet" data-toggle="modal" data-target="customLinkModel">Change domain / make a custom link
</button>
<button type="button" class="button is-info is-small is-pulled-right is-hidden-mobile" data-toggle="modal" data-target="customLinkModel">Change domain / make a custom link
</button>
</div>
</td>
</tr>
<tr>
<th>
Other Links
</th>
<td>
<div v-if="hide" class="text-placeholder light-shaded"></div>
<div v-else v-cloak>
<button type="button" class="button is-light is-small" data-toggle="modal" data-target="externalShortModel">View other link shorteners
</button>
</div>
</td>
</tr>
<tr>
<th>
Tracking Code
</th>
<td id="trackingCode">
<div v-if="hide" class="text-placeholder light-shaded"></div>
<div v-else v-cloak>
{{ trackingDetails.TrackId }}
</div>
</td>
</tr>
<tr>
<th>
Access Link
</th>
<td id="accessLink">
<div v-if="hide" class="text-placeholder light-shaded"></div>
<div v-else v-cloak>
{{ appUrl }}track/{{ trackingDetails.TrackId }}
</div>
</td>
</tr>
<tr v-if="trackingDetails.CanEdit">
<th>
Email Notification
</th>
<td>
<div v-if="hide" class="text-placeholder light-shaded"></div>
<div class="switch-container" v-else v-cloak>
<div id="message2"></div>
<input autocomplete="off" id="emailNote" type="checkbox" name="emailNote001" class="switch is-rounded is-info" :checked="trackingDetails.NotificationEmail" @change="updateEmail">
<label for="emailNote"></label>
</div>
</td>
</tr>
<tr>
<th>
Smart Logger <small style="color:red; font-size: 65%; vertical-align: top;">NEW!</small> <a target="_blank" style="color: #2c3e50;" href="https://grabify.link/faq#SmartLogger"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
</th>
<td>
<div v-if="hide" class="text-placeholder light-shaded"></div>
<div class="switch-container field" v-else v-cloak>
<input autocomplete="off" id="version" type="checkbox" name="version" class="switch is-rounded is-info" :checked="trackingDetails.Version == 2 ? true : false" @change="updateVersion">
<label for="version"></label>
</div>
</td>
</tr>
<tr>
<th>
Note
</th>
<td id="note">
<div v-if="hide" class="text-placeholder light-shaded"></div>
<div v-else v-cloak>
<div v-if="trackingDetails.CanEdit">
<form action="/savenote" method="post">
<input type="hidden" name="_token" value="QTOUoFc95LvbjaHDS5kE07FkLqm6jY4Hg9CSIvuF"> <input type="hidden" id="TrackId" name="TrackId" :value="trackingDetails.TrackId">
<div class="field has-addons">
<div class="control is-expanded">
<input class="input" type="text" placeholder="Enter a note... (This is only visible to you)" id="note" :value="trackingDetails.Note" name="note">
</div>
<div class="control">
<button type="submit" class="button is-primary">Save Note</button>
</div>
</div>
</form>
</div>
<div v-else>
<div v-if="trackingDetails.Note != null">
{{ trackingDetails.Note }}
</div>
<div v-else>
Please <a href="https://grabify.link/login">login</a> or <a href="https://grabify.link/register">register</a> to create a note.
</div>
</div>
</div>
</td>
</tr>
</table>
<div id="customLinkModel" class="modal">
<div class="modal-background"></div>
<div class="modal-card">
<header class="modal-card-head">
<p class="modal-card-title">Custom Link Maker</p>
<button class="delete" aria-label="close"></button>
</header>
<section class="modal-card-body">
Here you can make a custom link to send.<br>
<small>(All custom links will stay active)</small>
<br>
<button class="button is-light is-small" @click="copyGrabifyToClipboard();">Copy</button>
<br>
<b>
<span id="customLinkCopy">
<span style="color: #2196f3;" id="custom_domain">{{ window.location.protocol }}//{{ customLink.domain }}</span>/<span style="color: #29b6f6;" id="custom_file">{{ customLink.path && customLink.path + ".php?" }}</span><span style="color: #8bc34a;" id="custom_parameter">{{ customLink.parameter && customLink.parameter + "=" }}</span>{{ trackingDetails.LinkId }}<span style="color: #009688;" id="custom_extension">{{ customLink.extension }}</span>
</span>
</b>
<br>
<br>
<span style="color: #2196f3; ">Domain: <small v-bind:style="{ color: getDateColor(customLink.expiry) }" style="font-style: italic;">{{ customLink.expiry ? "(" + customLink.domain + " expires on " + customLink.expiry + ")" : "" }}</small></span>
<div class="field has-addons dropdown">
<div class="control is-expanded">
<input class="input" type="text" :value="customLink.domain" readonly>
</div>
<div class="dropdown-menu" id="dropdown-menu" role="menu">
<div class="dropdown-content">
<div v-for="domain in domains">
<a @click="selectDomain(domain.Domain, domain.Expiry)" class="dropdown-item">{{ domain.Domain }}<small> - (Domain expires: {{ domain.Expiry ?? "Never" }})</small></a>
</div>
</div>
</div>
<div class="control">
<button type="submit" class="button is-primary">
<span class="icon is-small">
<i class="fa-solid fa-caret-down"></i>
</span>
</button>
</div>
</div>
<span style="color: #009688; ">Extension:</span>
<div class="field has-addons dropdown">
<div class="control is-expanded">
<input @change="selectExtension" type="text" class="input" id="extensions" :value="customLink.extension" placeholder="Select from the drop-down or enter in a custom extension">
</div>
<div class="dropdown-menu" id="dropdown-menu" role="menu">
<div class="dropdown-content">
<a @click="selectExtension" data-value class="dropdown-item">None</a>
<div v-for="extension in extensions">
<a @click="selectExtension" :data-value="extension" class="dropdown-item">{{ extension }}</a>
</div>
</div>
</div>
<div class="control">
<button type="submit" class="button is-primary">
<span class="icon is-small">
<i class="fa-solid fa-caret-down"></i>
</span>
</button>
</div>
</div>
<span style="color: #29b6f6; ">Path:</span>
<div class="field has-addons dropdown">
<div class="control is-expanded">
<input @change="selectPath" type="text" class="input" id="files" :value="customLink.path" placeholder="Select from the drop-down or enter in a custom path">
</div>
<div class="dropdown-menu" id="dropdown-menu" role="menu">
<div class="dropdown-content">
<a @click="selectPath" data-value class="dropdown-item">None</a>
<div v-for="path in paths">
<a @click="selectPath" :data-value="path" class="dropdown-item">{{ path }}</a>
</div>
</div>
</div>
<div class="control">
<button type="submit" class="button is-primary">
<span class="icon is-small">
<i class="fa-solid fa-caret-down"></i>
</span>
</button>
</div>
</div>
<span style="color: #8bc34a; ">Parameter:</span>
<div class="field has-addons dropdown">
<div class="control is-expanded">
<input @change="selectParameter" type="text" class="input" id="parameters" :value="customLink.parameter" placeholder="Select from the drop-down or enter in a custom parameter">
</div>
<div class="dropdown-menu" id="dropdown-menu" role="menu">
<div class="dropdown-content">
<a @click="selectParameter" data-value class="dropdown-item">None</a>
<div v-for="parameter in parameters">
<a @click="selectParameter" :data-value="parameter" class="dropdown-item">{{ parameter }}</a>
</div>
</div>
</div>
<div class="control">
<button type="submit" class="button is-primary">
<span class="icon is-small">
<i class="fa-solid fa-caret-down"></i>
</span>
</button>
</div>
</div>
</section>
<footer class="modal-card-foot">
<button type="button" class="button is-primary" @click="resetLink">Reset</button>
<button type="button" class="button is-light button-close">Close</button>
</footer>
</div>
</div>
<div id="shareModal" class="modal">
<div class="modal-background"></div>
<button class="modal-close is-large" aria-label="close"></button>
<div class="modal-card">
<header class="modal-card-head">
<p class="modal-card-title">Share</p>
<button class="delete" aria-label="close"></button>
</header>
<section class="modal-card-body has-text-centered">
<img id="qr" alt="QR Code" />
<div class="sharebox mt-4">
<button @click="shareOption" class="button fa fa-share-alt" title="Share"></button>
<button @click="shareOption" class="button fa-brands fa-facebook" data-url="https://www.facebook.com/sharer/sharer.php?u={url}" title="Facebook"></button>
<button @click="shareOption" class="button fa-brands fa-twitter fa-2xl" data-url="https://twitter.com/intent/tweet?url={url}" title="Twitter"></button>
<button @click="shareOption" class="button fa-brands fa-reddit" data-url="https://www.reddit.com/submit?url={url}" title="reddit"></button>
<button @click="shareOption" class="button fa-brands fa-linkedin" data-url="https://www.linkedin.com/shareArticle?url={url}&amp;mini=4" title="Linkedin"></button>
<button @click="shareOption" class="button fa-brands fa-telegram" data-url="https://t.me/share/url?url={url}" title="Telegram"></button>
<button @click="shareOption" class="button fa-brands fa-pinterest" data-url="https://www.pinterest.com/pin/create/button/?url={url}" title="Pinterest"></button>
<button @click="shareOption" class="button fa-brands fa-skype" data-url="https://web.skype.com/share?url={url}" title="Skype"></button>
<button @click="shareOption" class="button fa-brands fa-vk" data-url="https://vk.com/share.php?url={url}&amp;noparse=true" title="Вконтакте"></button>
<button @click="shareOption" class="button fa-brands fa-xing" data-url="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url={url}" title="XING"></button>
<button @click="shareOption" class="button fa-brands fa-tumblr" data-url="http://www.tumblr.com/share/link?url={url}" title="Tumblr"></button>
<button @click="shareOption" class="button fa-brands fa-at" data-url="mailto:?subject=&amp;body={url}" title="E-mail"></button>
</div>
</section>
<footer class="modal-card-foot">
<button type="button" class="button is-light button-close">Close</button>
</footer>
</div>
</div>
<div id="externalShortModel" class="modal">
<div class="modal-background"></div>
<div class="modal-card">
<header class="modal-card-head">
<p class="modal-card-title">Link Shorteners</p>
<button class="delete" aria-label="close"></button>
</header>
<section class="modal-card-body">
Here are a list of link shorteners that you can also use.
<table v-if="!shortHide" v-cloak class="table table-bordered is-striped is-bordered is-fullwidth is-hoverable">
<tr>
<th>gg.gg</th>
<td>
<button v-if="!shorts || !shorts['gg.gg']" @click="createShort('gg.gg')" class="button is-info is-small">Generate gg.gg</button>
<span v-else>{{ shorts['gg.gg'].Link }}</span>
</td>
</tr>
<tr>
<th><a style="color:#2c3e50;" href="http://join-shortest.com/ref/eabfcfd9a8">shorte.st</a></th>
<td>
<button v-if="!shorts || !shorts['shorte.st']" @click="createShort('shorte.st')" type="button" class="button is-info is-small">Generate shorte.st</button>
<span v-else>{{ shorts['shorte.st'].Link }}</span>
</td>
</tr>
<tr>
<th>shorturl.at</th>
<td>
<button v-if="!shorts || !shorts['shorturl.at']" @click="createShort('shorturl.at')" type="button" class="button is-info is-small">Generate shorturl.at</button>
<span v-else>{{ shorts['shorturl.at'].Link }}</span>
</td>
</tr>
<tr>
<th><a style="color:#2c3e50;" href="//adf.ly/?id=1042898">adf.ly</a></th>
<td>
<button v-if="!shorts || !shorts['adf.ly']" @click="createShort('adf.ly')" type="button" class="button is-info is-small">Generate adf.ly</button>
<span v-else>{{ shorts['adf.ly'].Link }}</span>
</td>
</tr>
<tr>
<th><a href="//bc.vc/?r=257735" style="color:#2c3e50;">bc.vc</a>*</th>
<td>
<button v-if="!shorts || !shorts['bc.vc']" @click="createShort('bc.vc')" type="button" class="button is-info is-small">Generate bc.vc</button>
<span v-else>{{ shorts['bc.vc'].Link }}</span>
</td>
</tr>
<tr>
<th><a style="color:#2c3e50;" href="http://ouo.io/ref/bLch6GDK">ouo.io</a></th>
<td>
<button v-if="!shorts || !shorts['ouo.io']" @click="createShort('ouo.io')" class="button is-info is-small">Generate ouo.io</button>
<span v-else>{{ shorts['ouo.io'].Link }}</span>
</td>
</tr>
<tr>
<th>zzb.bz *</th>
<td>
<button v-if="!shorts || !shorts['zzb.bz']" @click="createShort('zzb.bz')" class="button is-info is-small">Generate zzb.bz</button>
<span v-else>{{ shorts['zzb.bz'].Link }}</span>
</td>
</tr>
<tr>
<th><a style="color:#2c3e50;" href="http://adfoc.us/?refid=469249">adfoc.us</a></th>
<td>
<button v-if="!shorts || !shorts['adfoc.us']" @click="createShort('adfoc.us')" class="button is-info is-small">Generate adfoc.us</button>
<span v-else>{{ shorts['adfoc.us'].Link }}</span>
</td>
</tr>
<tr>
<th>goo.gl</th>
<td>
<button v-if="!shorts || !shorts['goo.gl']" @click="createShort('goo.gl')" class="button is-info is-small">Generate goo.gl</button>
<span v-else>{{ shorts['goo.gl'].Link }}</span>
</td>
</tr>
</table>
<i>
<small>We do not have any affiliations with any of these link shorteners services provided.</small>
</i>
<br><br>*<i>
<small>Some shortners may have bots show up in the logs such as bit.ly.</small>
</i>
</section>
<footer class="modal-card-foot">
<button class="button is-light button-close">Close</button>
</footer>
</div>
</div>
</div>
</div>
<div class="columns is-justify-content-space-around">

<div data-fuse="21842489290"></div>
</div>
<div id="logs">
<h2 class="title is-3">Results: <span v-if="hide" v-cloak>...</span><span v-else v-cloak>{{ total }}</span></h2>
<i>Note: If you have posted your link on Facebook, Twitter, or in a URL shortener, you may see results from various "bots" (BitlyBot, FacebookBot, etc.)</i>
<br/>
<br/>
<strong>Hide your IP!</strong> - <a href="https://grabify.link/hide" target="_blank">Click here to <b>hide</b> your IP from Grabify and stay anonymous online</a>.<br><br>
<div class="switch-container field">
<input id="showHideBots" type="checkbox" name="showHideBots" class="switch is-rounded is-info is-medium" @change="botToggle">
<label for="showHideBots">Hide Bots</label>
</div>
<br>
<div class="modal fade advanced-log has-text-left" id="advancedLogModel" role="dialog" v-if="!hide && logs.length > 0">
<div class="modal-background"></div>
<div class="modal-card is-large">
<header class="modal-card-head">
<p class="modal-card-title">Advanced Log</p>
<button class="delete" aria-label="close"></button>
</header>
<section class="modal-card-body">
<div class="table-responsive">
<table class="table table-bordered is-striped is-bordered is-fullwidth is-hoverable">
<tr>
<th>Date/Time</th>
<td>{{ logs[selected].DateTime }}</td>
</tr>
<tr>
<th>IP Address</th>
<td>{{ logs[selected].Ip }}
<div v-if="!logs[selected].vpn_proxy && !logs[selected].is_tor && !logs[selected].timezone_mismatch && '47.156.4.229' === logs[selected].Ip">
<i class="fa fa-exclamation-circle" style="color: #e0b924; cursor: pointer;"></i> <a href="https://grabify.link/hide" target="_blank">IP Exposed, Click To Hide</a>
</div>
</td>
</tr>
<tr v-if="logs[selected].vpn_proxy">
<th>VPN/Proxy Detection
<small style="color:red; font-size: 65%; vertical-align: top;">NEW!</small>
</th>
<td>{{ logs[selected].vpn_proxy && 'This IP may be a VPN or Proxy' }}
<div v-if="!logs[selected].timezone_mismatch">
<b><i class="fa fa-exclamation-circle" style="color: #e02424"></i> <i>User may be attempting to hide their location</i></b>
</div>
</td>
</tr>
<tr v-if="logs[selected].is_tor">
<th>Tor Detection
<small style="color:red; font-size: 65%; vertical-align: top;">NEW!</small>
</th>
<td>{{ logs[selected].is_tor && 'This IP is a Tor Exit Node' }}</td>
</tr>
<tr>
<th>
<div class="has-tooltip-arrow has-tooltip-right" data-tooltip="Location is only an estimate">
Country <i class="fa fa-question-circle" aria-hidden="true"></i>
</div>
</th>
<td>{{ loadExternalData(logs[selected]) }}{{ logs[selected].Location }}
<div v-if="logs[selected].timezone_mismatch">
<b><i><i class="fa fa-exclamation-circle" style="color: #e02424"></i>
{{ logs[selected].timezone_mismatch ? 'User may be attempting to hide their location' : '' }}</i></b>
</div>
</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Battery != null">
<th>Battery</th>
<td>{{ logs[selected].Data.Battery }}%</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Charging != null">
<th>Charging</th>
<td>{{ logs[selected].Data.Charging ? 'Yes' : 'No' }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Orientation != null">
<th>Orientation</th>
<td>{{ logs[selected].Data.Orientation }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.ConnectionType != null">
<th>ConnectionType</th>
<td>{{ logs[selected].Data.ConnectionType }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Timezone != null && logs[selected].Data.TimezoneOffset != null">
<th>Timezone</th>
<td>{{ logs[selected].Data.Timezone }} {{ logs[selected].Data.TimezoneOffset }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.ClientDate != null">
<th>User Time</th>
<td>{{ logs[selected].Data.ClientDate }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Language != null">
<th>Language</th>
<td>{{ logs[selected].Data.Language }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.PrivateWindow != null">
<th>Incognito/Private Window</th>
<td>{{ logs[selected].Data.PrivateWindow ? 'Yes' : 'No' }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.AdDetection != null">
<th>Ad Blocker</th>
<td>{{ logs[selected].Data.AdDetection ? 'Yes' : 'No' }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.ScreenSize != null">
<th>Screen Size</th>
<td>{{ logs[selected].Data.ScreenSize }} {{ logs[selected].Data != null && logs[selected].Data.ScreenFps != null ? " @ " + logs[selected].Data.ScreenFps + "Hz" :
"" }}
</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.ColourScheme != null">
<th>Colour Scheme</th>
<td>{{ logs[selected].Data.ColourScheme }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.HDRSupport != null">
<th>HDR Screen</th>
<td>{{ logs[selected].Data.HDRSupport ? 'Yes' : 'No' }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Vm != null">
<th>Virtual Machine</th>
<td>Using a {{ logs[selected].Data.Vm }} Virtual Machine</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.LocalIp != null">
<th>Local IP</th>
<td>{{ logs[selected].Data.LocalIp }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Gpu != null">
<th>GPU</th>
<td>{{ logs[selected].Data.Gpu }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Vm != null">
<th>Virtual Machine</th>
<td>Using a {{ logs[selected].Data.Vm }} Virtual Machine</td>
</tr>
<tr v-if="logs[selected].Device.Client != null &&
                                    logs[selected].Device.Client.name != null">
<th>Browser</th>
<td>{{ logs[selected].Device.Client.name }} ({{ logs[selected].Device.Client.version
}})<br></td>
</tr>
<tr v-if="logs[selected].Device.OS != null &&
                                    logs[selected].Device.OS.name != null &&
                                    logs[selected].Device.OS.version != null">
<th>Operating System</th>
<td>{{ logs[selected].Device.OS.name }} {{ logs[selected].Data != null && logs[selected].Data.WinVersion != null ? logs[selected].Data.WinVersion :
logs[selected].Device.OS.version }} {{
logs[selected].Device.OS.platform }}
</td>
</tr>
<tr v-if="logs[selected].Device.BrandName != null &&
                                    logs[selected].Device.BrandName != '' &&
                                    logs[selected].Device.Model != null">
<th>Device</th>
<td>{{ logs[selected].Device.BrandName }} {{ logs[selected].Device.Model }}</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.IsTouch != null">
<th>Touch Screen</th>
<td v-if="logs[selected].Data != null && logs[selected].Data.TouchPoints != null && logs[selected].Data.TouchPoints > 0">
{{ logs[selected].Data.IsTouch ? 'Yes (' + logs[selected].Data.TouchPoints + ' touch points)' : 'No' }}
</td>
<td v-else>
{{ logs[selected].Data.IsTouch ? 'Yes' : 'No' }}
</td>
</tr>
<tr v-if="logs[selected].Device.BotInfo != null &&
                                    logs[selected].Device.BotInfo.name">
<th>Name</th>
<td>{{ logs[selected].Device.BotInfo.name }}</td>
</tr>
<tr v-if="logs[selected].Device.BotInfo != null &&
                                    logs[selected].Device.BotInfo.producer != null &&
                                    logs[selected].Device.BotInfo.producer.name != null">
<th>Site</th>
<td>{{ logs[selected].Device.BotInfo.producer.name }}</td>
</tr>
<tr v-if="logs[selected].Device.BotInfo != null &&
                                    logs[selected].Device.BotInfo.producer">
<th>URL</th>
<td>{{ logs[selected].Device.BotInfo.producer.url }}</td>
</tr>
<tr>
<th>User Agent</th>
<td v-if="logs[selected].Device.IsBot">
<span style="color: #b2aeae">Bot:</span> {{ logs[selected].UserAgent }}
</td>
<td v-else>
<span v-if="logs[selected].ISP == 'Facebook'" :var="logs[selected].Bot = true" style="color: #b2aeae">Bot: </span>{{ logs[selected].UserAgent }}
</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.UserAgent != null && logs[selected].Data.UserAgent != logs[selected].UserAgent">
<th>Real User Agent</th>
<td>
{{ logs[selected].Data.UserAgent }}
</td>
</tr>
<tr v-if="logs[selected].Data != null && logs[selected].Data.Platform != null">
<th>Platform</th>
<td>{{ logs[selected].Data.Platform }}</td>
</tr>
<tr>
<th>Referring URL</th>
<td v-if="logs[selected].Referrer != null">{{ logs[selected].Referrer }}</td>
<td v-else style="color : #aaa; text-transform: lowercase;"><i>no
referrer</i></td>
</tr>
<tr>
<th>Host Name</th>
<td>{{ logs[selected].Hostname }}</td>
</tr>
<tr v-if="logs[selected].ISP != ''">
<th>ISP</th>
<td>{{ logs[selected].ISP }}</td>
</tr>
</table>
</div>
</section>
<footer class="modal-card-foot">
<button class="button is-light button-close">Close</button>
</footer>
</div>
</div>
<pagination :data="data" :limit="2"></pagination>
<div class="table-responsive log-table">
<table class="table table-bordered is-striped is-bordered is-fullwidth is-hoverable">
<thead class="sortable">
<tr>
<th @click="sortLogs" data-type="Date" data-sorted="desc">Date/Time</th>
<th @click="sortLogs" data-type="Ip" data-sorted="false">IP/Provider</th>
<th>
<div class="has-tooltip-arrow has-tooltip-bottom" data-tooltip="Location is only an estimate">
Country <i class="fa fa-question-circle" aria-hidden="true"></i>
</div>
</th>
<th @click="sortLogs" data-type="Useragent" data-sorted="false">User Agent</th>
<th @click="sortLogs" data-type="Referrer" data-sorted="false">Referring URL</th>
<th>More</th>
</tr>
</thead>
<tbody>
<tr v-for="(log, key) in logs" v-if="!hide" data-target="advancedLogModel" @click="selected = key" id="hover-mouse" data-toggle="modal" class="modal-trigger" :class="{ 'bot' : log.Device.IsBot === true || log.Bot }" v-cloak>
<td class="is-table-date">
<div>{{ log.Date }}</div>
<div>{{ log.Time }}</div>
</td>
<td class="is-table-ip">
<div>{{ log.Ip }} <i v-if="log.vpn_proxy || log.is_tor || log.timezone_mismatch" class="fa fa-exclamation-circle" style="color: #e02424; cursor: pointer;"></i><i v-if="!log.vpn_proxy && !log.is_tor && !log.timezone_mismatch && '47.156.4.229' === log.Ip" class="fa fa-exclamation-circle" style="color: #e0b924; cursor: pointer;"></i></div>
<div>{{ log.ISP }}</div>
</td>
<td class="is-table-country" :data-icon="log.Code">
{{ loadExternalData(log) }}
<div>{{ log.Country }}</div>
<div>{{ log.City }}</div>
</td>
<td class="is-table-ua">
<div v-if="log.Device.IsBot">
<span style="color: #aaaaaa">Bot:</span> {{ log.UserAgent }}
</div>
<div v-else>
<span v-if="log.ISP === 'Facebook'" :var="log.Bot = true" style="color: #aaaaaa">Bot: </span>{{log.UserAgent }}
</div>
</td>
<td class="is-table-referrer">
<div v-if="log.Referrer !== null && log.Referrer.trim() !== ''" :title="log.Referrer">
{{ log.Referrer }}
</div>
<div v-else class="is-no-referrer">
<i>no referrer</i>
</div>
</td>
<td class="is-table-info">
<a title="More Info">More Info</a>
</td>
</tr>
<tr v-if="hide">
<td colspan="6">Loading...</td>
</tr>
<tr v-if="!hide && total === '0'">
<td colspan="6">No activity has been logged yet. Share the link to start tracking.</td>
</tr>
</tbody>
</table>
</div>
<br>
<pagination :data="data" :limit="2"></pagination>
</div>
<br>
<div class="columns is-justify-content-space-around">

<div data-fuse="21847076120"></div>
</div>
</div>
</section>
<script src="/js/tpage.js?id=7c022146ef3443b4236ce01b310ef40f" async defer></script>
</div>
<div class="mobile_sticky_ad">

<div data-fuse="21842488990"></div>
</div>


<div class="fuse_sticky">
<div data-fuse="22278910416"></div>
</div>

<footer class="footer">
<div class="container has-text-centered-mobile">
<div class="columns has-margin-bottom medium-margin has-no-side-margin">
<div class="column is-4-desktop">
<a href="https://grabify.link"><img src="https://grabify.link/images/grabify-inverted.svg" width="200" alt="Grabify Logo" class="footer-logo"></a>
<h3>Advanced web analytics at the tap of a finger!</h3>
</div>
<div class="column is-2-desktop is-offset-1-desktop">
<h2 class="footer-title">Follow us</h2>
<ul>
<li><a href="https://twitter.com/GrabifyDOTlink" target="_blank">Twitter</a></li>
<li><a href="https://www.facebook.com/GrabifyLogger/" target="_blank">Facebook</a></li>
</ul>
</div>
<div class="column is-2-desktop">
<h2 class="footer-title">About</h2>
<ul>
<li><a href="https://grabify.link/tos">Terms of Service</a></li>
<li><a href="https://grabify.link/privacy">Privacy Policy</a></li>
</ul>
</div>
<div class="column is-2-desktop">
<h2 class="footer-title">Help</h2>
<ul>
<li><a href="https://grabify.link/faq">FAQ</a></li>
<li><a href="https://grabify.link/removeme">Remove My Data</a></li>
</ul>
</div>
</div>
<hr class="footer-separator">
<nav class="level">
<div class="level-left">
<div class="level-item">
<p class="has-text-light-grey">Copyright &copy; Grabify 2024</p>
</div>
</div>
<div class="level-right">
<div class="level-item">
<div class="has-text-light-grey">
<a href="https://grabify.link/privacy" target="_blank">Privacy</a> - <a href="https://grabify.link/tos" target="_blank">TOS</a> - <a href="https://grabify.link/removeme">Remove My Data</a>
</div>
</div>
</div>
</nav>
</div>
<div class="adbuffer-footer"></div>
</footer>

<script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.defer = true;
            s1.src = 'https://embed.tawk.to/56dbf56bfd8c937066739b91/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
        window.Tawk_API.customStyle = {
            zIndex: 2147483646
        };
    </script>

<script src="/js/check.js?id=552237347c1db6c950f4e4200407cbb8" async defer></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"858c848b8da22ae9","version":"2024.2.1","token":"e3b601201bfe4df5ae5167e40d6b46f1"}' crossorigin="anonymous"></script>
</body>
</html>
