  body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            padding: 1em;
            text-align: center;
        }

        nav {
            background-color: #555;
            padding: 0.5em;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 1em;
        }

        main {
            padding: 2em;
            position: relative;
        }

        article {
            margin-bottom: 2em;
            text-align: center;
        }

        article h1 {
            font-style: italic;
            font-size: 2.5em;
        }

        .article-text {
            font-size: 1.1em;
            color: #000000;
            margin-bottom: 0.5em;
            text-align: left;
            max-width: 600px;
            margin: 0 auto;
        }

        .article-sum {
            font-size: 1em;
            color: #808080;
            margin-bottom: 0.5em;
        }

        .separator-line {
            border-top: 1px solid #ddd;
            width: 100%;
            margin: 1em 0;
        }

        .recommendation-item a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            font-size: 1em;
        }

        .article-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 1em auto;
        }

        .round-share-button {
            cursor: pointer;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 10em;
            left: 20em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333;
        }

        .round-share-button img {
            width: 80%;
            height: 80%;
        }

        .share-options {
            display: none;
            position: absolute;
            top: 11.5em;
            left: 22em;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 0.5em;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .share-options a {
            display: block;
            text-decoration: none;
            color: #333;
            padding: 0.5em;
            transition: background-color 0.3s;
        }

        .article-image-text {
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            font-size: 0.9em;
            color: #808080;
        }

        .recommendation {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .recommendation-item {
            flex: 0 0 calc(33.33% - 20px);
            box-sizing: border-box;
            text-align: center;
        }

        .recommendation-item img {
            width: 250px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
        }

        .recommendation-item h3 {
            color: #000;
            transition: color 0.3s;
        }

        .recommendation-item:hover h3 {
            color: #666;
        }

        .recommended-section {
            text-align: left;
        }

        .recommended-heading {
            font-size: 1.2em;
            color: #333;
            margin-bottom: 0.5em;
        }

        .larger-text {
            font-size: 20px;
        }

        .recommended-line {
            border-top: 1px solid #ddd;
            width: 100%;
            margin: 1em 0;
        }

        .author-info {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }

        .author-image {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 3px solid #000;
        }

        /* Additional styles for image viewer */
        .image-container {
            display: flex;
            flex-wrap: wrap;
            gap: 100px;
            justify-content: center;
        }

        .image {
            width: 250px;
            height: 150px;
            border-radius: 8px;
        }

        .image-title {
            text-align: center;
            color: #000;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: 1em;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            transition: color 0.3s;
        }

        .image-link,
        .title-link {
            text-decoration: none;
            color: inherit;
        }
